http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hypertidy/geodist/contributors?per_page=100&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"55bd646db630939604cc1dc378da64f7388fe4dd93799e1afa3d858e800b42e2"
      github-authentication-token-expiration: 2022-11-02 13:49:45 UTC
      last-modified: Sat, 19 Feb 2022 03:58:58 GMT
      x-accepted-oauth-scopes: ''
      x-github-media-type: github.v3
      x-oauth-scopes: notifications, read:org, repo, workflow
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4997'
      x-ratelimit-reset: '1660127742'
      x-ratelimit-resource: core
      x-ratelimit-used: '3'
    body:
      encoding: UTF-8
      file: no
      string: |
        [
          {
            "login": "mpadge",
            "id": 6697851,
            "node_id": "MDQ6VXNlcjY2OTc4NTE=",
            "avatar_url": "https://avatars.githubusercontent.com/u/6697851?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/mpadge",
            "html_url": "https://github.com/mpadge",
            "followers_url": "https://api.github.com/users/mpadge/followers",
            "following_url": "https://api.github.com/users/mpadge/following{/other_user}",
            "gists_url": "https://api.github.com/users/mpadge/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/mpadge/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/mpadge/subscriptions",
            "organizations_url": "https://api.github.com/users/mpadge/orgs",
            "repos_url": "https://api.github.com/users/mpadge/repos",
            "events_url": "https://api.github.com/users/mpadge/events{/privacy}",
            "received_events_url": "https://api.github.com/users/mpadge/received_events",
            "type": "User",
            "site_admin": false,
            "contributions": 174
          },
          {
            "login": "daniellemccool",
            "id": 5112209,
            "node_id": "MDQ6VXNlcjUxMTIyMDk=",
            "avatar_url": "https://avatars.githubusercontent.com/u/5112209?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/daniellemccool",
            "html_url": "https://github.com/daniellemccool",
            "followers_url": "https://api.github.com/users/daniellemccool/followers",
            "following_url": "https://api.github.com/users/daniellemccool/following{/other_user}",
            "gists_url": "https://api.github.com/users/daniellemccool/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/daniellemccool/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/daniellemccool/subscriptions",
            "organizations_url": "https://api.github.com/users/daniellemccool/orgs",
            "repos_url": "https://api.github.com/users/daniellemccool/repos",
            "events_url": "https://api.github.com/users/daniellemccool/events{/privacy}",
            "received_events_url": "https://api.github.com/users/daniellemccool/received_events",
            "type": "User",
            "site_admin": false,
            "contributions": 1
          }
        ]
  recorded_at: 2022-08-10 09:38:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: ''
      string: '{"query":"{\n        repository(owner:\"hypertidy\", name:\"geodist\")
        {\n                   issues (first: 100) {\n                       pageInfo
        {\n                           hasNextPage\n                           endCursor\n                       }\n                       edges
        {\n                           node {\n                               ... on
        Issue {\n                                   number\n                                   createdAt\n                   [...]
